* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #0078FF;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

#myBtn:hover {
    background-color: #0062D3;
}


.dropdown .dropdown-item:hover {
    background-color: #fff;
    color: #0062D3;
}

.dropdown .btn {
    border: none;
}



.dropbtn2 {
    background-color: #fff;
    color: #000;
    padding-left: 15px;
    font-size: 16px;
    border: none;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    top: -10px;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #000;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #0078FF;
}

.dropdown2:hover .dropdown-content {
    display: block;
}

.dropdown2:hover .dropbtn2 {
    color: #0078FF;

}




.nav .nav-item .nav-link {
    color: #fff;
}

nav .nav-item .dropdown-item {
    color: #000;
}

.dropdown1 {
    float: left;
    overflow: hidden;
}

.dropdown1 .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.dropdown1-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown1-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown1-content a:hover {
    background-color: #ddd;
}

.dropdown1:hover .dropdown1-content {
    display: block;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/hero-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

header .header-content {
    color: #fff;
}

header .header-content h1 {
    font-size: 72px;
}

section .pp {
    color: #4E4E4E;
}

section .col-md-6 .col-6 p {
    color: #4E4E4E;

}

section .col-md-6 .col-6 span {
    color: #000;

}


section .col-md-6 h2 {
    position: relative;
}

section .col-md-6 h2::before {
    content: "";
    width: 100px;
    height: 3.5px;
    position: absolute;
    top: 120%;
    left: 0px;
    background-color: #0078FF;
}

section .one {
    position: relative;
    color: #4E4E4E;
}

section .one::before {
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0078FF;

}

section .icon ul {
    transform: translateX(-5%);
}

section .icon ul li {
    width: 8rem;
    height: 8rem;
    border: #0078FF solid 10px;
}

section .icon ul li i {
    font-size: 40px;
    transition: all 0.5s;
}

section .icon:hover li {
    background-color: #0078FF;
    color: #fff;
    border: #CDE1F8 solid 10px;

}

.work {
    background-image: linear-gradient(rgba(0, 119, 255, 0.699), rgba(0, 120, 255, 0.699)), url(../images/counters-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height: 400px; */
    color: #fff;
    padding-bottom: 60px;

}

section .icon2 ul {
    transform: translateX(-5%);
}

section .icon2 ul li {
    width: 6rem;
    height: 6rem;
    border: #CDE1F8 solid 10px;
}

section .icon2 ul li i {
    font-size: 30px;

}

section .icon3 ul {
    position: relative;
}

section .icon3 ul li {
    width: 2.5rem;
    height: 2.5rem;
    border: #0078FF solid 3px;
    color: #0078FF;
    position: absolute;
    transform: translate(-20%, -110%);
}

section .card1 .img {
    overflow: hidden;

}

section .card1 img {
    transition: transform 0.5s;
}


section .card1:hover img {
    transform: scale(1.3);
}

section .card1 p {
    font-size: 13px;
}

section .card1 span {
    color: #1E88FF;
}

.feedback {
    background-image: linear-gradient(rgba(0, 119, 255, 0.699), rgba(0, 120, 255, 0.699)), url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.card .text-wrap {
    position: relative;
    left: 40%;
    top: -20px;

}

.card .card-body img {
    width: 35px;

}

.card .card-body a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s;

}

.card .card-body a:hover {
    color: #0078FF;
}

.contact {
    background-image: linear-gradient(rgba(0, 119, 255, 0.699), rgba(0, 120, 255, 0.699)), url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.contact .row {
    margin-top: 80px;
}

.contact ul {
    padding: 0;
    margin: 0;

}

.contact .uls1 li {
    padding-top: 10px;
    color: #0078FF;
}

.contact .uls1 span {
    margin-left: 10px;
    color: #000;
}

.contact .logo2 ul {
    width: 35%;
}

.contact .logo2 ul li {
    width: 3rem;
    height: 3rem;
    border: #0078FF solid 3px;

}

.contact .logo2 ul li i {
    font-size: 20px;
    transition: all 0.5s;
}

.contact .logo2 li:hover {
    background-color: #0078FF;
    color: #fff;
    border: #CDE1F8 solid 10px;

}

footer {
    background-color: #0062D3;
    height: 100px;
}